.service-list {
    & > .container > .heading-2 {
        grid-column: 1 / -1;
        max-width: 1015px;
        margin-bottom: 16px;
    }

    &__card {
        &,
        &:link,
        &:visited {
            grid-column: span 6;
            text-decoration: none;

            @include media-breakpoint-down(lg) {
                grid-column: 1 / -1;
            }
       }
    }

    &__card > .heading-3 {
        margin-bottom: 8px;
        transition: color .3s ease-out;
    }

    &__card:hover > .heading-3 {
        color: $color-secondary;
    }

    &__card:hover > &__card-el > &__card-circle {
        left: calc(100% - 26px);

        @include media-breakpoint-down(lg) {
            left: 0;
        }
    }

    &__card-el {
        position: relative;
        height: 26px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__card-circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        min-width: 26px;
        height: 26px;
        background-color: $color-white;
        border: 3px solid $color-black;
        border-radius: 100%;
        transition: left .3s ease-out;
    }

    &__card-line {
        width: 100%;
        height: 3px;
        background-color: $color-black;
    }
}