.testimonial-card {
    grid-column: span 6;
    padding: 16px;

    &__header {
        display: flex;
        margin-bottom: 16px;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    &__logo {
        width: 180px;
        min-width: 180px;
        height: 60px;
        margin-right: 24px;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}