.blog-card {
    &,
    &:link,
    &:visited {
        padding: 16px;
        grid-column: span 6;
        text-decoration: none;
        transition: border-color .3s ease-out;
    }

    & > .heading-4 {
        min-height: 54px;
    }

    &__image {
        height: 140px;
        border-radius: 5px;
        margin: 16px 0;
        overflow: hidden;
    }

    &:hover {
        border-color: $color-secondary;
    }
}