.newsletter-section {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .heading-3 {
        margin: 16px 0 24px;
    }

    &__input {
        display: flex;
    }

    &__input > .input-group > .input-group__field {
        width: 280px;
    }
}