.button {
    &,
    &:link,
    &:visited {
        display: flex;
        width: min-content;
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0.8px;
        font-weight: 600;
        color: $color-white;
        background-color: $color-primary;
        padding: 8px 16px;
        outline: none;
        border: 2px solid $color-black;
        box-shadow: $box-shadow;
        text-decoration: none;
        white-space: nowrap;

        @include media-breakpoint-down(lg) {
            font-size: 18px;
        }
    }

    &--small {
        &,
        &:link,
        &:visited {
            font-size: 16px;
        }
    }

    &--secondary {
        &,
        &:link,
        &:visited {
            font-size: 16px;
            box-shadow: none;
            background-color: $color-secondary;
        }
    }

    &--red {
        &,
        &:link,
        &:visited {
            font-size: 16px;
            box-shadow: none;
            background-color: $color-white;
            border-color: $color-red;
            color: $color-red;
        }
    }
}