.input-group {
    position: relative;

    &__field {
        @extend .body-copy;
        background-color: $color-white;
        padding: 8px 16px;
        border: $border;
        outline: none;
        border-radius: $border-radius;

        &:focus {
            border-color: $color-secondary;
        }
    }

    & > .small-copy {
        position: absolute;
        color: $color-red;
        font-weight: 600;
        left: 0;
        bottom: -24px;
    }
}