.input {
    position: relative;

    &__field {
        @extend .body-copy;
        background-color: $color-white;
        padding: 8px 16px;
        border: $border;
        width: 100%;
        outline: none;
        border-radius: $border-radius;

        &:focus {
            border-color: $color-secondary;
        }
    }

    & > .small-copy {
        color: $color-red;
        font-weight: 600;
        left: 0;
        margin-top: 8px;
        text-align: left;
    }
}